<launch>  
	<!-- SLAM  -->
	<node pkg="ag_mapping" name="zed_rgbd_node" type="zed_rgbd_node"
		  args="/home/lacie/workspace/ag-ws/src/AG-Mapping/semantic_slam/Vocabulary/ORBvoc.txt.bin
	            /home/lacie/workspace/ag-ws/src/AG-Mapping/config/RGB-D/ZED2.yaml" output="screen">

		<remap from="/camera/rgb/image_raw"                 to="/zed2/zed_node/rgb/image_rect_color"/>
    	<remap from="/camera/depth_registered/image_raw"    to="/zed2/zed_node/depth/depth_registered"/>

		<!-- Parameters for ROS -->
    	<param name="worl4d_frame_id"    type="string"   value="world" />
    	<param name="cam_frame_id"      type="string"   value="camera" />
		<param name="enable_pangolin"   type="bool"     value="true" />
		
	</node>

	<!-- Run other launch file -->
    <include file="$(find ag_mapping)/launch/octomap.launch" />
	<include file="$(find ag_mapping)/launch/transform.launch" />
	<node pkg="rviz" name="rviz" type="rviz" /> 
	
</launch>
